.document-list__no-data{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content__title{
  text-align: center;
  width: 60%;
}

.document-list{
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.document-list--hidden{
  display: none;
}

.document-item{
  display: flex;
  height: 200px;
  width: 900px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.document-item__content-box{
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.document-item__signature{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 170px;
  background-color: #EFEFEF;
  border-radius: 10px;
  text-transform: uppercase;
}

.document-item__signature > p{
  font-size: 6rem;
  margin: 0;
}

.document-item__data{
  display: flex;
  flex-direction: column;
  min-height: 145px;
  margin-left: 15px;
  flex-grow: 2;
  height: 100%;
  box-sizing: border-box;
}

.document-item__top-section{
  display: flex;
  height: 20%;
  margin-bottom: 15px;
  justify-content: space-between;
}

.document-item__title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 100px;
  height: 30px;
  padding: 0 30px;
  text-transform: capitalize;
}

.document-item__numbers{
  display: flex;
}

.document-item__numbers > p{
  margin-left: 15px;
}

.document-item__description{
  height: 70%;
  width: 100%;
  padding: 0px 10px 15px 10px;
  background-color: #EFEFEF;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.document-item__description > p{
  margin: 5px;
  line-clamp: 3;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-item__actions-box{
  width: 10%;
  height: 100%;
  background-color: #EFEFEF;
  border-radius: 10px;
}

.document-item__actions-box{
  width: 10%;
  height: 100%;
  background-color: #EFEFEF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}

.document-item__button{
  height: 35px;
  width: 35px;
  background-color: #D1D1D1;
  border-radius: 100px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.document-item__button:hover{
  background-color: #afafaf;
}

.document-item__image{
  height: auto;
  width: 120%;
}

.add-document{
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 0;
  background-color: #2265FF;
}

.add-document:hover{
  background-color: #0c54fa;
}

.add-document__img{
  max-height: 100%;
  max-width: auto;
}

@media (max-width: 900px) {
  .document-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .document-item{
    max-width: 284px;
    height: 360px;
    justify-content: center;
    font-size: 10px;
    margin: 10px;
    flex-direction: column;
  }

  .document-item__content-box{
    width: 100%;
  }

  .document-item__signature{
    display: none;
  }

  .document-item__top-section{
    flex-direction: column;
    box-shadow: 2px 2px 10px 0px rgba(109, 109, 109, 0.75);
    border-radius: 10px;
    justify-content: flex-start;
    padding: 10px 15px;
    background-color: #EFEFEF;
    height: auto;
  }

  .document-item__data{
    margin-left: 0;
  }

  .document-item__title{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: flex-start;
  }

  .document-item__title__h3{
    font-size: 1rem;
    margin: 5px ;
  }

  .document-item__properties{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
  }

  .document-item__description{
    padding: 10px;
    height: 100%;
  }

  .document-item__actions-box{
    flex-direction: row;
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .document-list{
    margin-top: 90px;
  }
}

@media (max-width: 420px) {
  .add-document{
    bottom: 20px;
    right: 20px;
  }
}