.home-content{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2265FF;
}

.home-content--hidden{
  display: none;
}

.home-content__title{
  text-align: center;
  width: 40%;
  color: white;
}

.home-content__h1{
  font-size: 4rem;
}

@media (max-width: 900px) {
  .home-content__title{
    width: 50%;
  }

  .home-content__h1{
    font-size: 3.5rem;
  }
}

@media (max-width: 750px) {
  .home-content__h1{
    font-size: 3.2rem;
  }
}

@media (max-width: 500px) {
  .home-content__title{
    width: 70%;
  }

  .home-content__h1{
    font-size: 2.5rem;
  }
}
