.menu{
  display: flex;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1rem;
}

.menu__logo{
  height: 70%;
  width: 10%;
  display: flex;
  align-items: center;
}

.menu__logo__img{
  max-height: auto;
  width: 100%;
}

.menu__search{
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.menu__search__input{
  height: 30px;
  width: 75%;
  border-radius: 100px;
  border: 1px solid black;
  padding-left: 1.5rem;
}

.menu__search__img{
  margin-left: -40px;
  cursor: pointer;
}

.menu__search__button{
  width: 20%;
  border-radius: 100px;
  background-color: black;
  color: white;
  border: 0px;
  margin-left: 5px;
}

.menu__sort{
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.menu__sort__button{
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1D1D1
}

.menu__sort__button > img{
 height: 80%;
 width: auto;
}